.container
  .flip-box
    .main
      table
        tr 
          th Nutrition Facts
        tr
          td Serving Size 1 cup
        tr
          td.thick-underline Servings Per Container 2
      table
        tr
          td Amount Per Serving
      table
        tr
          td.thin-underline
      table
        tr
          td Calories 280
          td.right-align Calories From Fat 120
      table
        tr
          td.medium-underline
      table
        tr
          td.right-align % Daily Value*
      table
        tr
          td.thin-underline
      table
        tr
          td Total Fat 13g
          td.right-align 20%
      table
        tr
          td.thin-underline
      table
        tr
          td.indent Saturated Fat 5g
          td.right-align 25%
      table
        tr
          td.thin-underline
      table
        tr
          td.indent Trans Fat 2g
      table
        tr
          td.thin-underline
      table
        tr
          td Cholesterol 30mg
          td.right-align 10%
      table
        tr
          td.thin-underline
      table
        tr
          td Sodium 680mg
          td.right-align 28%
      table
        tr
          td.thin-underline
      table
        tr
          td Total Carbohydrates 31g
          td.right-align 10%
      table
        tr
          td.thin-underline
      table
        tr
          td.indent Dietary Fiber 0g
          td.right-align 0%
      table
        tr
          td.thin-underline
      table
        tr
          td.indent Sugars 5g
      table
        tr
          td.thin-underline
      table
        tr
          td.thick-underline Protein 5g
      table
        tr
          td Vitamin A 4%
          td.center-align &#0149
          td.right-align Vitamin C 2%
        tr.thin-underline
        tr
          td Calcium 15%
          td.center-align &#0149
          td.right-align Iron 4%
      table
        tr
          td.thin-underline
      table
        tr
          td
            | *Percent Daily Values are based on a 2,000 calorie diet.
            br
            | Your Daily Values may be higher or lower depending on your caloric needs.
      table
        tr
          td Calories
          td
          td 2,000
          td 2,500

        tr
          td Total Fat
          td Less than
          td 85g
          td 80g
        tr
          td.indent Sat Fat
          td Less than
          td 20g
          td 25g
        tr
          td Cholesterol
          td Less than
          td 300mg
          td 300mg
        tr
          td Sodium
          td Less than
          td 2,400mg
          td 2,400mg
        tr
          td Total Carbohydrate
          td 
          td 300g
          td 375g
        tr
          td.indent Dietary Fiber
          td 
          td 25g
          td 30g
